#title{
	text-align: center;
	font-family: Verdana;
    color: #f0f0f0;
    font-size: 40px;
	margin-bottom: 0;
	margin-top: -8px;
	margin-left: -8px;
	margin-right: -8px;
    background-color: #204563;
}

#rgbCanvas{
    position: absolute;
    left: 0px;
    top :0px;
    z-index: -1;
    width: 100%;
    height: 100%;
    /*opacity: 300%; */

}

body{
    background-image: url(C:\Users\quontini\Desktop\Internato\interfaccia\gay.jpg);
}

.bot_riepilogo{
	
	background-color: url(./PolFrame_close.jpg);
    background-size: cover;
	width : 300px; /*prop 1 : 1,095*/
	height : 328px;
	float: right;
	margin-top: 10%;
	margin-right: 8%;
    opacity : 0.6;
}

.bot_scan{
	background-color: url(./PolFrame_close.jpg);
    background-size: cover;
	width : 300px; /*prop 1 : 1,095*/
	height : 328px;
	float: left;
	margin-top: 10%;
	margin-left: 8%;
    opacity : 0.6;
}