
#title{
	position: relative;
	top: 0px;
	width: 100%;
	height: 4%;
    background-color: #204563;
}

#testo1{
	margin: auto;
	text-align: center;
	font-family: Verdana;
    color: #f0f0f0;
    font-size: 40px;
}

#body{
	background-color: #f0f0f0;
}

.panel-heading{
	background-color: #204563 !important; 
	border-bottom-color: #204563 !important;
	border-left-color: #204563 !important; 
	border-right-color: #204563 !important; 
	border-top-color: #204563 !important; 
	
}

#miao{
	border-bottom-color: #204563 !important;
	border-left-color: #204563 !important; 
	border-right-color: #204563 !important; 
	border-top-color: #204563 !important; 
	width:65% !important;
}
	
#btn-save{
	width: 100%!important;
	font-size:14px  !important;
	font-weight:bold !important;
}
#btn-reset-rec{
	width: 100%!important;
	font-size:14px!important;
	font-weight:bold !important;
}

#btn-reset-camera{
	width: 100%!important;
	font-size:14px !important;
	font-weight:bold !important;
}
 

#img_sx{
	position:absolute !important;
	left: 0px !important;
	width: 770px;
	margin: auto !important;
	top: 0px;
	height: 554px;
}

#bodyCanvas{
	position: absolute;
	height: 554px;
	width: 798px;
}

#img_dx{
	position:absolute !important;
	right: 0px !important;
	width: 770px;
	margin: auto !important;
	top: 0px;
	height: auto;
}

#rgbImg{
	position:absolute !important;
	height: 554px;
	width: 985px;
}

/* #opzioni{
	position: absolute;
	right: 15px;
	top: 15px;
	background-color: #f0f0f0;
	font-size: 14px;
	border-radius: 8px;
} */

#home{
	position: absolute;
	left: 15px;
	top: 7px;
	background-color: #f0f0f0;
	font-size: 14px;
	border-radius: 8px;
}

#centro{
	position: absolute;
	height: 273px;
	width: 589px;
	right: 25%;
}

#panel-centro{
	position:absolute;
	width: auto;
}

#menu2{
	position: relative;
	top: -15px;
}

#div1{
	position: relative;
	width:100% !important;
	height: 554px;
	max-height:60%;
}

#div2{
    position: relative;
	
	top: 100000px;
	border: 2px;
}
