
#title{
	position: relative;
	top: 0px;
	width: 100%;
	height: 4%;
    background-color: #204563;
}@import url('file:///C:\Users\quontini\Desktop\Internato\batProject\interfaccia\client\grafica.css');

#testo1{
	margin: auto;
	text-align: center;
	font-family: Verdana;
    color: #f0f0f0;
    font-size: px;
}

#body{
	background-color: #f0f0f0;
}

.panel-heading{
	background-color: #204563 !important; 
	border-bottom-color: #204563 !important;
	border-left-color: #204563 !important; 
	border-right-color: #204563 !important; 
	border-top-color: #204563 !important; 
	
}

#miao{
	border-bottom-color: #204563 !important;
	border-left-color: #204563 !important; 
	border-right-color: #204563 !important; 
	border-top-color: #204563 !important; 
	width:65% !important;
}
	
#btn-save{
	width: 100%!important;
	font-size:14px  !important;
	font-weight:bold !important;
}
#btn-reset-rec{
	width: 100%!important;
	font-size:14px!important;
	font-weight:bold !important;
}

#btn-reset-camera{
	width: 100%!important;
	font-size:14px !important;
	font-weight:bold !important;
}
 
#img_dx{
	position:absolute !important;
	right: 0px !important;
	//margin: auto !important;
	top: 0px;
}

#rgbCanvas{

    width: 100% !important; 

}

#bodyCanvas{
    position: absolute;
   
}

#img_sx{
  position: relative;
  
}


#rgbImg{
	position:absolute !important;
    top: 0.6%;
    width: 100%;
}

/* #opzioni{
	position: absolute;
	right: 15px;
	top: 15px;
	background-color: #f0f0f0;
	font-size: 14px;
	border-radius: 8px;
} */

#home{
	position: absolute;
	left: 0.6%;
	top: 0.78%;
	background-color: #f0f0f0;
	font-size: 14px;
	border-radius: 8px;
}

#centro{
	position: absolute;
	height: 100%;
	width: 14.5%;
	right: 45%;
    top: -0.6%;
}

#panel-centro{
	position: relative;
    top: 0.9%;
	width: 15%;
    left: auto;

}

#menu2{
	position: relative;
	top: -15px;
    height: 153%
}

#div1{
	position: relative;
	width:100% !important;
	height: 554px;
	max-height:60%;
}

#div2{
    position: relative;
	width: 1020px !important;
    height: 200px !important;
	top: 10px;
	//border: 2px;
}

/*.col-md-8 {
    position: relative;
    width: 1808px !important;
    height: 1% !important;
    left: 2px;
    top: -1px;
}*/

.col-md-4 {
    position: absolute !important;
    width: 100% !important;
    height: 40% !important;
 
}

.container{

    width: 37.5% !important;


}