#title{
	text-align: center;
	font-family: Verdana;
    color: #f0f0f0;
    font-size: 40px;
	margin-bottom: 0;
	margin-top: -8px;
	margin-left: -8px;
	margin-right: -8px;
    background-color: #204563;
}

#body{
	background-color: #f0f0f0;
}

.panel-heading{
	background-color: #204563 !important; 
	border-bottom-color: #204563 !important;
	border-left-color: #204563 !important; 
	border-right-color: #204563 !important; 
	border-top-color: #204563 !important; 
	
}

#miao{
	border-bottom-color: #204563 !important;
	border-left-color: #204563 !important; 
	border-right-color: #204563 !important; 
	border-top-color: #204563 !important; 
	width:65% !important;
}
	
#btn-save{
	width: 100%!important;
	font-size:14px  !important;
	font-weight:bold !important;
}
#btn-reset-rec{
	width: 100%!important;
	font-size:14px!important;
	font-weight:bold !important;
}

#btn-reset-camera{
	width: 100%!important;
	font-size:14px !important;
	font-weight:bold !important;
}
 

#img_sx{
	float: left;
	margin-left: -8px;
	height:	auto;
	width: 50%;
}


#img_dx{
	float: right;
	margin-right:  -8px;
	height: auto;
	width: 50%;
}

/* #opzioni{
	position: absolute;
	right: 15px;
	top: 15px;
	background-color: #f0f0f0;
	font-size: 14px;
	border-radius: 8px;
} */

#home{
	position: absolute;
	left: 15px;
	top: 7px;
	background-color: #f0f0f0;
	font-size: 14px;
	border-radius: 8px;
}














