#title{
	text-align: center;
	font-family: Verdana;
    color: #f0f0f0;
    font-size: 40px;
	margin-bottom: 0;
	margin-top: -8px;
	margin-left: -8px;
	margin-right: -8px;
    background-color: #204563;
}

body{
    background-color: #f0f0f0;
}

#name{
	display: block;
	width:35%;
	margin-left:30px;
	margin-top: -10px;
	/*background-color: #397bb0;*/

}

#Mesh{
	color: #204563;
	font-family: Verdana;
	margin-top: 35px;
	margin-left: 10px;
	width:10%;

}

#Home{
	/*font-family: Verdana;*/
	background-color: #f0f0f0;
	font-size: 14px;
	border-radius: 8px;
	position: absolute;
	left: 15px;
	top: 15px;
}

#Riname{
	margin-left: 1.5%;
}

#RINOMINA {
 outline: none;
 cursor: pointer;
 text-align: center;
 text-decoration: none;
 font: bold 12px Arial, Helvetica, sans-serif;
 color: #fff;
 padding: 10px 20px;
 border: solid 1px #0076a3;
 background: #0095cd;
}

#CANCELLA {
 outline: none;
 cursor: pointer;
 text-align: center;
 text-decoration: none;
 font: bold 12px Arial, Helvetica, sans-serif;
 color: #fff;
 padding: 10px 20px;
 border: solid 1px #0076a3;
 background: #0095cd;
}

#VISUALIZZA {
 outline: none;
 cursor: pointer;
 text-align: center;
 text-decoration: none;
 font: bold 12px Arial, Helvetica, sans-serif;
 color: #fff;
 padding: 10px 20px;
 border: solid 1px #0076a3;
 background: #0095cd;
}
#ButtonRiname {
    margin-left: 0.5%;
}
